  <footer class="site-footer w-100">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Agradecimentos</h6>
          <p class="text-justify">Obrigad@ por navegar em nosso website! A equipe <i>CONECTA+</i> criou esse ambiente
            pensando em você. Temos a humildade de não buscar mudar o mundo de uma vez, mas aos poucos... E o primeiro
            passo foi dado. Contamos com você para dar os próximos, bem vindo a tecnologia! Gostariamos especialmente de
            agradecer a <a class="alert-link" href="https://brazil.generation.org/" target="_blank">Generation
              Brasil</a>,
            <a class="alert-link" href="https://www.ev.org.br/" target="_blank">Fundação Bradesco</a> e colegas de
            turma.
          </p>
          <h5>Endereço</h5>
          <p>Rua Generation Brasil 2021, Campinas/SP-Brasil</p>
          <h5>Email</h5>
          <p><a href="mailto:someone@example.com">conecta_mais@org.com</a></p>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Perfis recomendados</h6>
          <ul class="footer-links">
            <li><a href="https://www.youtube.com/user/cursosemvideo" target="_blank">Curso em video</a></li>
            <li><a href="https://www.youtube.com/user/aluracursosonline" target="_blank">Alura</a></li>
            <li><a href="https://www.youtube.com/channel/UCgfaifzmqadwKyCd0lagylQ" target="_blank">UxNow</a></li>
            <li><a href="https://www.youtube.com/user/nerdologia" target="_blank">Nerdologia</a></li>
            <li><a href="https://www.youtube.com/user/CienciaTodoDia" target="_blank">Ciência todo dia</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Parceiros</h6>
          <ul class="footer-links">
            <li><a href="#">I-mei</a></li>
            <li><a href="#">ColaborArt</a> </li>
            <li><a href="#">Rural Sabor</a></li>
            <li><a href="#">Ecompra</a></li>
            <li><a href="#">RaizAgro</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
            <a class="alert-link">Conecta+</a>.
          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><span class="fab fa-facebook-f" target="_blank"></span></a></li>
            <li><a class="instagram" href="#"><span class="fab fa-instagram" target="_blank"></span></a></li>
            <li><a class="github" href="https://github.com/ErciliaR/ConectaMAIS-PI" target="_blank"><span
                  class="fab fa-github-alt"></span></a>
            </li>
            <li><a class="linkedin" href="#" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

