<div class="vertical-nav d-flex flex-column justify-content-between">

  <div class="pt-4 px-3">
    <div class="media d-flex justify-content-center">
      <img src="/assets/img/logoColorido&Sombra.png" alt="logo conecta mais" width="150px">
    </div>
    <div>
      <ul class="social-icons d-flex justify-content-center pt-3">
        <li><a class="facebook" href="#"><span class="fab fa-facebook-f" target="_blank"></span></a></li>
        <li><a class="instagram" href="#"><span class="fab fa-instagram" target="_blank"></span></a></li>
        <li><a class="github" href="https://github.com/ErciliaR/ConectaMAIS-PI" target="_blank"><span
              class="fab fa-github-alt"></span></a>
        </li>
        <li><a class="linkedin m-0" href="#" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="p-0 bg-transparent">
    <div class="media justify-content-center">
      <img src="/assets/img/Erci.jpg" alt="..." width="200px" class="m-0 p-2 rounded-circle img-fluid"
        style="background-color: #007A80; border: none;">
    </div>
    <div class="media-body" style="color: #FF914D; background-color: #007A80;">
      <h4 class="m-0 py-2 text-center font-weight-bold" style="text-shadow: 0.5px 0.5px 1px #000000;">Ercilia Regina
      </h4>
    </div>
  </div>
  <div>
    <ul class="nav flex-column pb-4 align-items-center" style="background-color: #1B3659;">
      <li class="nav-item px-0 py-2">
        <a href="#" class="nav-link text-white text-uppercase">Perfil</a>
      </li>
      <li class="nav-item px-0 py-2">
        <a href="#" class="nav-link text-white text-uppercase">Postagens</a>
      </li>
      <li class="nav-item px-0 py-2">
        <a href="#" class="nav-link text-white text-uppercase">Comentários</a>
      </li>
      <li class="nav-item px-0 py-2">
        <a href="#" class="nav-link text-white text-uppercase">Feed</a>
      </li>
      <li class="nav-item py-2 px-0">
        <a class="btn btn-outline-secondary py-1 px-5 " routerLink='/entrar'>SAIR</a>
      </li>
    </ul>
  </div>
</div>
