#criarPost{
  background-color: #FF914D;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1mm;
  text-transform: uppercase;
  width: 600px;
}

.container-fluid {
  background-color: #007a80;
}

.button {
  background-color: #007A80;
  /* Green */
  border-radius: 10px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: #007A80;
  font-weight: bolder;
  border: 2px solid #007A80;
}

.button1:hover {
  background-color: #007A80;
  color: white;
}

#formularioPostagem {
  border-radius: 20px;
}

#padrao {
  background-image: url("/assets/img/padrao.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  width: auto;
  height: max-content;
}


.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  position: relative;
  width: 260px;
}
.button {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 40px;
  opacity: 0.8;
  width: 40px;
}
.button:first-child {
  margin-right: 20px;
}
.button:hover {
  opacity: 1;
}
.button:active {
  transform: scale(0.9);
}
.dot {
  fill: #fff;
  opacity: 0.5;
}
.pagination {
  position: relative;
}
.path {
  stroke: #fff;
  stroke-dasharray: 0 100;
  stroke-dashoffset: 2px;
}
.path1 {
  stroke-dashoffset: -1px;
}
.step0-left-initial .path1 {
  stroke-dasharray: 94 100;
  stroke-dashoffset: -94px;
}
.step0-left .path1 {
  transition: stroke-dasharray 300ms 300ms ease-in-out,
    stroke-dashoffset 300ms ease-in-out;
  stroke-dasharray: 0 100;
  stroke-dashoffset: -1px;
}
.step1 .path1 {
  transition: stroke-dasharray 300ms ease-in-out,
    stroke-dashoffset 300ms 300ms ease-in-out;
  stroke-dasharray: 94 100;
  stroke-dashoffset: -94px;
}
.step1-left .path1 {
  stroke-dasharray: 94 100;
  stroke-dashoffset: -96px;
}
.step1-left-initial .path2 {
  stroke-dasharray: 94 100;
  stroke-dashoffset: -94px;
}
.step1-left .path2 {
  transition: stroke-dasharray 300ms 300ms ease-in-out,
    stroke-dashoffset 300ms ease-in-out;
  stroke-dasharray: 0 100;
  stroke-dashoffset: -1px;
}
.step2 .path1 {
  stroke-dashoffset: 2px;
}
.step2-initial .path2 {
  stroke-dashoffset: -2px;
}
.step2 .path2 {
  transition: stroke-dasharray 300ms ease-in-out,
    stroke-dashoffset 300ms 300ms ease-in-out;
  stroke-dasharray: 94 100;
  stroke-dashoffset: -94px;
}
.step2-left .path1 {
  stroke-dasharray: 94 100;
  stroke-dashoffset: -96px;
}
.step2-left .path2 {
  stroke-dasharray: 94 100;
  stroke-dashoffset: -96px;
}
.step2-left-initial .path3 {
  stroke-dasharray: 94 100;
  stroke-dashoffset: -94px;
}
.step2-left .path3 {
  transition: stroke-dasharray 300ms 300ms ease-in-out,
    stroke-dashoffset 300ms ease-in-out;
  stroke-dasharray: 0 100;
  stroke-dashoffset: -1px;
}
.step3 .path1 {
  stroke-dashoffset: 2px;
}
.step3 .path2 {
  stroke-dashoffset: 2px;
}
.step3-initial .path3 {
  stroke-dashoffset: -2px;
}
.step3 .path3 {
  transition: stroke-dasharray 300ms ease-in-out,
    stroke-dashoffset 300ms 300ms ease-in-out;
  stroke-dasharray: 94 100;
  stroke-dashoffset: -94px;
}
