#criarPost{
  background-color: #FF914D;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1mm;
  text-transform: uppercase;
  width: 100%;
  
}

.container-fluid {
  background-color: #007a80;
}

.button {
  background-color: #007A80;
  /* Green */
  border-radius: 10px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.my-btn {
  background-color: #007A80;
  color: white;
}

.my-btn:hover {
  background-color: white;
  color: #007A80;
  font-weight: bolder;
  border: 2px solid #007A80;
}


#formularioPostagem {
  border-radius: 20px;
}

#padrao1 {
  background-image: url("/assets/img/padrao.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  width: auto;
  height: max-content;
}

  #padrao2 {
     background-image: url("/assets/img/padrao2.png");
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: bottom;
     width: auto;
     height: max-content;
  }

   #edit {
     outline: black;
     border: 1px solid;
     background-color: transparent;
     color: black;
   }

   #edit:hover {
     outline: #007a80;
     border: 1px solid;
     background-color: #007a80;
     color: white;
   }

   #alert {
     outline: black;
     border: 1px solid;
     background-color: transparent;
     color: black;
   }

   #alert:hover {
     outline: red;
     border: 1px solid;
     background-color: red;
     color: white;
   }










  .w-5 {
    width: 50px;
  }

  .w-20 {
    width: 20px;
  }

  .w-60 {
    width: 60px;
  }

  .w-40 {
    width: 40px;
  }

  .w-titulo {
    width: 25px;
  }

  .titulo {
    font-size: 20px;
  }

  a {
    cursor: pointer;
  }

  .btn-inserir {
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
  }

  .btn-inserir:hover {
    text-decoration: none;
  }

  .inserir {
    background-color: #fff !important;
    color: #4b4b4b !important;
    transition: 0.5s;
  }


  .inserir:hover {
    background-color: #3e64ff !important;
    color: #fff !important;

  }
