<div class="container-fluid p-0 m-0" id="padrao1">
  <!-- minhas postagem -->
  <h4 class="text-center text-white mt-0 py-5" style="text-shadow: 2px 2px 4px #000000;">Minhas postagens</h4>
  <div class="row d-flex justify-content-center mb-5" *ngFor='let item of usuario.postagemObj'>
    <div class="col-md-9 bg-white" id="formularioPostagem" style="padding-left: 64px; padding-right: 64px;">
      <div class="row">
        <div class="col-md-8 text-left pl-3 pr-0 ">
          <h4 class="mt-3">{{item.titulo}}</h4>
          <p class="mb-0"><b>{{item.tema}}</b></p>
        </div>
        <div class="col-md-4 mx-0 mt-2 pr-3 d-flex align-self-center justify-content-end ">
          <button (click)='findByIdPostagem(item.postagemID)' class="btn rounded-circle mr-3" id="edit"
            data-toggle="modal" data-target="#editarPostagem"><i class="fas fa-pencil-alt"></i></button>
          <button (click)='findByIdPostagem(item.postagemID)' class="btn rounded-circle" id="alert" data-toggle="modal"
            data-target="#apagarPostagem"><i class="fas fa-trash-alt"></i></button>
        </div>
        <hr>

        <p class="text-left ml-3">{{item.conteudoPostagem}}</p>
        <p class="text-right ml-3 pr-3"><small>Postado em {{item.dataCriacaoPostagem | date: 'dd/MM/yyyy'}} às {{item.dataCriacaoPostagem |
        date: 'HH:mm'}}
        </small></p>

      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center pt-5 pb-5 m-0">
    <button>Carregar mais...</button>
  </div>
  <!-- /minhas postagens -->
  <div class="position-fixed-bottom" style="height: 400px;" id="padrao2"></div>




  <!-- Modal editar -->
  <div class="modal fade" id="editarPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">  
          <h5 class="modal-title" id="TituloModalCentralizado">Editar Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="titulo">Título</label>
            <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
              placeholder="Digite o título">
          </div>

          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea [(ngModel)]='postagem.conteudoPostagem' class="form-control" name="texto" id="texto"
              rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="texto">Tema:</label>
            <select [(ngModel)]='postagem.tema' (change)='temaSelect($event)' class="form-control" name="tema"
              id="tema">
              <option value="Programa">Programa</option>
              <option value="Bootcamp">Bootcamp</option>
              <option value="Hackaton">Hackaton</option>
              <option value="Evento">Evento</option>
              <option value="Noticia">Noticia</option>
            </select>

          </div>

        </div>
        <div class="modal-footer">
          <button (click)='atualizar()' type="button" class="btn btn-info " data-dismiss="modal">Atualizar</button>
          <button type="button" class="btn btn-danger mr-4" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modal editar -->

  <!-- Modal apagar -->
  <div class="modal fade" id="apagarPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Apagar Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja apagar esta postagem?<br><small>Os comentários relacionados a ele serão igualmente
              apagados</small></p>

        </div>
        <div class="modal-footer">
          <button (click)='deletar()' type="button" class="btn btn-info " data-dismiss="modal">Sim</button>
          <button type="button" class="btn btn-danger mr-4" data-dismiss="modal">Não</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /Modal apagar -->
</div>
