#secao01 {
  /* fundo com a imagem */
  background-image: url("/assets/img/fig03.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 0;
  border: 0;
  height: 650px;
}

h1 {
  padding-top: 150px;
  padding-bottom: 200px;
  margin: 0px;
}

@media screen and (max-width: 1000px) {
  #secao01 {
    height: 350px;
  }
}
@media screen and (max-width: 620px) {
  #secao01 {
    height: 200px;
  }
  h1{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 20px;
  }
}

#bg-inst {
  background-color: #007A80;
  width: 100%;
  height: max-content;
}

#bg-fund-white {
  background-color: white;

}

.btn-outline-secondary {
  border-color: #007A80;
  background-color: #007A80;
  color: white;
  font-size: x-large;
  text-shadow: none;
}

.nav-item {
  font-size: x-large;
  text-shadow: 2px 2px 4px #000000;
  color: white;
  padding-right: 20px;
}

.fs-16 {
  font-size: 16pt;
}