<div id="secao01" class="container-fluid d-flex align-items-center justify-content-center">
  <div class="">
    <h1 class="text-white" style="text-shadow: 2px 2px 4px #000000;">CONHEÇA AS INSTITUIÇÕES</h1>
  </div>
</div>


<div class="" id="bg-inst">
  <div class="row m-0 pb-5 pt-5 d-flex justify-content-center">
    <div class="col-md-11 mt-3" id="bg-fund-white">
      <div class="row d-inline-flex align-items-center">
        <img class="d-flex mt-2 ml-3" src="/assets/img/icon-gen.png" width="100px" alt="Generation">
        <h3 class="d-flex m-0 pl-2">Generation</h3>
      </div>
      <p class="d-block fs-16">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero minus corporis assumenda
        quidem nemo aut praesentium, cupiditate consequuntur repellendus eveniet! Consequatur nisi et culpa doloremque
        nobis unde ab velit dolor.</p>
    </div>



    <div class="col-md-11 mt-3" id="bg-fund-white">
      <div class="row d-inline-flex align-items-center">
        <img class="d-flex mt-2 ml-3" src="/assets/img/icon-maria.png" width="100px" alt="Programaria">
        <h3 class="d-flex m-0 pl-2">Programaria</h3>
      </div>
      <p class="d-block fs-16">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero minus corporis assumenda
        quidem nemo aut praesentium, cupiditate consequuntur repellendus eveniet! Consequatur nisi et culpa doloremque
        nobis unde ab velit dolor.</p>
    </div>



    <div class="col-md-11 mt-3" id="bg-fund-white">
      <div class="row d-inline-flex align-items-center">
        <img class="d-flex mt-2 ml-3" src="/assets/img/icon-trybe.png" width="100px" alt="Trybe">
        <h3 class="d-flex m-0 pl-2">Trybe</h3>
      </div>
      <p class="d-block fs-16">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero minus corporis assumenda
        quidem nemo aut praesentium, cupiditate consequuntur repellendus eveniet! Consequatur nisi et culpa doloremque
        nobis unde ab velit dolor.</p>
    </div>
  </div>
</div>
