<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/FrontEnd/assests/style.css">

    <title>Conecta +</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1B3659;">
        <a class="navbar-brand" href="#"> <img src="assests/img/logo_vitin 1.png" alt="" width="80px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">QUEM SOMOS<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">FAÇA PARTE <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">CONEXÕES<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">CADASTRO<span class="sr-only">(current)</span></a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="img-fluid" id="bg-login">
        <h1 class="text-center text-white">CONHEÇA AS INSTITUIÇÕES</h1>

    </div>

    <div class="row m-0 d-flex justify-content-center align-items-center" id="bg-inst">
        <div class="col-md-11 mt-3" id="bg-fund-white">
            <img class="mt-2" src="/FrontEnd/assests/img/icon-gen.png" width="50px" alt="Generation">
            <h3>Generation</h3>
        </div>
    </div>

    <div class="row m-0 d-flex justify-content-center align-items-center" id="bg-inst">
        <div class="col-md-11 mt-3" id="bg-fund-white">
            <img class="mt-2" src="/FrontEnd/assests/img/icon-maria.png" width="50px" alt="Programaria">
            <h3>Programaria</h3>
        </div>
    </div>

    <div class="row m-0 d-flex justify-content-center align-items-center" id="bg-inst">
        <div class="col-md-11 mt-3 mb-3" id="bg-fund-white">
            <img class="mt-2" src="/FrontEnd/assests/img/icon-trybe.png" width="50px" alt="Trybe">
            <h3>Trybe</h3>
        </div>
    </div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>