

#secao01 {
  /* fundo com a imagem */
  background-image: url("/assets/img/fig08.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 0;
  border: 0;
  height: 650px;
}

.container-fluid {
  background-color: #007a80;
}

.pt2 {
  background-color: #007a80;
}

.quadrado1,
.quadrado2 {
  background-color: #007a80;
  border-radius: 30px;
  height: 600px;
  color: white;
  font-size: 36px;
  text-align: center;
}

.quadrado1 p,
.quadrado2 p {
  margin-top: 50px;
}

.usuario {
  background-color: #225555;
  border-radius: 30px;
  height: max-content;
  color: white;
  font-size: 36px;
  text-align: center;
}

.usuario {
  font-size: 20px;
}

.style-button {
  color: #007a80 !important;
  background-color: #fff !important;
  border-color: #007a80 !important;
  font-weight: bolder;
  border-width: 3px !important;
}

.style-button:hover {
  color: white !important;
  background-color: #007a80 !important;
  border-color: #007a80 !important;
  font-weight: bolder;
  border-width: 3px !important;

}

.zind {
  margin-top: -480px;
  font-size: 50px;
  color: white;
  text-shadow: 5px 5px 20px black;
}

