<div class="container-fluid">
    <div class="row">
        <div class="col-12 pt1 p-0  ">
            <img src="../../assets/img/cadastro.jpg" width="100%" alt="">
        </div>
        <div class="col-12 d-flex justify-content-center zind">Cadastro</div>
        <div class="col-12 pt2">
            <div class="row">
                <img src="" alt="">
                <div class="col-1"></div>
                <div class="col-5 quadrado1 p-5 mr-2 mt-5">
                    <p><b>Cadastre-se na nossa plataforma e interaja com as instituições</b> que te aproximaram do mundo da
                        tecnologia! Abrace essa oportunidade... </p>
                </div>

                <div class="col-5 quadrado2 p-5 ml-2 mt-5">
                    <p><b>Cadastre a sua instituição</b> e faça parte da nossa plataforma. Dê visibilidade aos seus programas,
                        bootcamps e hackathons ao seu público alvo!</p>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-10 mt-5  mb-5 usuario">
            <h2 class="mt-5">Usuário</h2>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nome" class="d-flex ">Email:</label>
                    <input class="form-control" type="text" name="nome " id="nome" placeholder="Seu nome">
                </div>
                <div class="form-group">
                    <label for="tipo" class="d-flex ">Tipo de usuário:</label>
                    <select class="form-control" name="tipo" id="tipo" >
                        <option> Selecione um tipo de usuário:</option>
                        <option value="normal"> Estudante</option>
                        <option value="adm"> Instituição</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="senha" class="d-flex ">Senha:</label>
                    <input class="form-control" type="password" name="senha " id="senha"
                        placeholder="Sua senha">
                </div>
                <div class="form-group">
                    <label for="confirmSenha" class="d-flex ">Confirme sua senha:</label>
                    <input class="form-control" type="password" name="confirSenha "
                        id="confirmSenha" placeholder="Sua senha">
                </div>

                <div class="d-flex justify-content-end ">
                    <button type="submit" class="btn btn-success style-button" >Próxima</button>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>