#secao01 {
  /* fundo com a imagem */
  background-image: url("/assets/img/fig07.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 0;
  border: 0;
  height: 650px;
}

h1 {
  padding-top: 150px;
  padding-bottom: 200px;
  margin: 0px;
}

#bg-inst {
  background-color: #007A80;
  width: 100%;
  height: max-content;
}

#bg-fund-white {
  background-color: white;

}

.btn-outline-secondary {
  border-color: #007A80;
  background-color: #007A80;
  color: white;
  font-size: x-large;
  text-shadow: none;
}

.nav-item {
  font-size: x-large;
  text-shadow: 2px 2px 4px #000000;
  color: white;
  padding-right: 20px;
}

.fs-16 {
  font-size: 16pt;
}

:root {
  --highlightColor: #ff9f1c;
  --textColor: white;
  --backgroundColor: #ff9f1c;
}

body {
  font-family: "Chivo", sans-serif;
  background: var(--backgroundColor);
  color: var(--textColor);
}

.maintenance-wrap {
  max-width: 500px;
  margin: auto;
}

.maintenance-anim:before {
  top: -40px;
  animation: maintenance 2s 2s ease-in infinite alternate;
  -webkit-animation: maintenance 2s 2s ease-in infinite alternate;
}

.maintenance-anim:after {
  top: -80px;
  animation: maintenance 2s ease-in infinite alternate;
  -webkit-animation: maintenance 2s ease-in infinite alternate;
}

@keyframes maintenance {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes maintenance {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.maintenance-content h1 {
  font-weight: 900;
  color: white;
  padding-bottom: 8px;
  padding-top: 100px;
}

.maintenance-content p {
  color: white;
  font-size: larger;
  margin: 0%;
  padding-bottom: 100px;
}

