<div id="secao01" class="">
  
  <!-- texto_chamada -->
  <div class="container m-0 ml-5 pb-5" style="padding-top: 23%;">
    <p class="w-50 fw-bold fs-65 m-0 mb-4" style="line-height: 100%;  text-shadow: 2px 2px 4px #000000;">Se conecte
      ainda mais<br>à Tecnologia</p>
    <p class="w-75 fw-bold fs-16 m-0" style="text-shadow: 2px 2px 4px #000000;">Você quer aprender
      a programar, mas não sabe por onde começar.
      <br> O Cenecta+ te ajuda! Busque por programas, bootcamps e hackathons.<br>Mais oportunidades ao alcance de
      todos!
      Venha construir novas conexões!</p>
    <div class="m-0 mt-4">
      <a class="btn btn-outline-secondary mr-3 p-2" href="#" role="button">CONHEÇA AS INSTITUIÇÕES</a>
      <a class="btn btn-outline-secondary p-2" href="#" role="button"><span
          class="fas fa-hand-holding-heart d-inline-flex align-self-center"></span> APOIE</a>
    </div>
  </div>
  <!-- /texto_chamada -->
</div>

<!-- quem_somos -->
<div id="secao02" class="d-flex align-items-center container-fluid pb-5 pt-5">
  <div class="container-fluid">
    <h1 class="text-center pt-5 pb-5">Quem somos</h1>
    <p class="text-center fs-18" style="margin-right: 5%; margin-left: 5%;">
      Nossos equipe foi fundada por pessoas como você que está do outro lado da tela. Iniciamos nosso apredizado e
      carreira na área de programação graças a oportunidades como as encontradas nesta plataforma. Com o desejo de
      levar a oportunidade que nos foi oferecida a mais pessoa e promover maior diversidade ao ambiente da tecnologia,
      a equipe do CONECTA+ criou esta site como projeto integrador do nosso bootcamp na Generation Brasil. Sinta-se a
      vontade para navegar nesse espaço e conhecer organizações, eventos e noticias da área. Nosso intuito é te ajudar
      a fazer novas conexões!</p>
  </div>
</div>
<!-- /quem_somos -->

<!-- img_pausa -->
<div id="secao03">
  <div class="pt-5">
    <img src="/assets/img/fig02.jpg" alt="mulher codando" class="img-fluid w-100" style="height: auto;">
  </div>
</div>
<!-- /img_pausa -->

<!-- faca_parte -->
<div id="secao04" class="pt-5">
  <div class="d-flex align-items-center container-fluid">
    <div class="container-fluid">
      <h1 class="text-center pt-5 pb-5">Faça parte</h1>
      <p class="text-center fs-18 mb-5" style="margin-right: 5%; margin-left: 5%;">Nossa equipe começou pequena, mas
        esperamos expandi-lá e, assim, alcançar mais pessoas. Venha fazer parte! A manuntenção do site é feito de modo
        independente e probono. Contamos também com uma equipe de prospecção de parcerias a fim de suportar os programas
        e bootcamps, principalmente cujos projetos possuem vieis sociais e que promovem maior diversidade no ambiente de
        tecnologia. Basta entrar em <a class="alert-link" href="#">contato</a> para nos
        ajude a ir mais longe!</p>
    </div>
  </div>
  <!-- cards -->
  <div class="container-fluid">
    <div class="classnew">
      <div class="card mr-3">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <i class="fas fa-graduation-cap"></i>
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h3>
              <a href="#" target="_blank" class="font-weight-bold">ESTUDE</a>
            </h3>
            <p class="card-text text-center font-weight-bolder" style="color: #1B3659;">Sou estudante de tecnologia ou
              gostaria de conhecer mais a área, quero estudar e conhecer os projetos disponíveis.</p>
          </div>
        </div>
      </div>
      <div class="card mr-3">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <i class="fas fa-handshake"></i>
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h3>
              <a href="#" target="_blank" class="font-weight-bold">PARTICIPE</a>
            </h3>
            <p class="card-text text-center font-weight-bolder" style="color: #1B3659;">Sou uma instituição de ensino e
              gostaria de impactar a vida de estudantes de tecnologia, seja com cursos, projetos, programas, entre
              outros...</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <div class="icon">
              <i class="fas fa-hand-holding-heart" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h3>
              <a href="#" target="_blank" class="font-weight-bold">DOE</a>
            </h3>
            <p class="card-text text-center font-weight-bolder" style="color: #1B3659;">Acredito que a união de esforços
              e gente boa nos
              leva muito mais longe e quero contribuir ativamente com a transformação social do país.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /cards -->
</div>
<!-- /faca_parte -->

<!-- conexoes -->
<div id="secao05" class="pb-5 pt-5">
  <div class="d-flex align-items-center container-fluid">
    <div class="container-fluid">
      <h1 class="text-center pt-5 pb-5">Conexões</h1>
      <p class="text-center fs-18 mb-5" style="margin-right: 5%; margin-left: 5%;">
        Nossa plataforma promove sua conexão em três modalidades: Pragramas, Bootcamps e Hackathons. Você não sabe como
        elas funcionam? Vem que a gente te explica!</p>
    </div>
  </div>
  <!-- carrosel -->
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="height: 500px;">
      <div class="carousel-item active" style="height: 500px;">
        <img src="/assets/img/fig04.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.7);">
          <h5 class="mt-4 mb-4">Pragrama</h5>
          <p class="mb-2">Nulla vitae elit libero, a pharetra augue mollis interdum. Nulla vitae elit libero, a pharetra
            augue mollis
            interdum.Nulla vitae elit libero, a pharetra augue mollis interdum.Nulla vitae elit libero, a pharetra augue
            mollis interdum.Nulla vitae elit libero, a pharetra augue mollis interdum.Nulla vitae elit libero, a
            pharetra augue mollis interdum.Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          <p class="text-right mb-4">Fonte: <a href="https://www.universidadedointercambio.com/o-que-e-bootcamp/"
              target="_blank" class="alert-link">Universidade do intercâmbio</a></p>
        </div>
      </div>
      <div class="carousel-item" style="height: 500px;">
        <img src="/assets/img/fig05.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.7);">
          <h5 class="mt-4 mb-4">Bootcamp</h5>
          <p class="mb-2">Bootcamps são, de modo geral, “intensivões” que promovem uma imersão completa em um
            determinado tema em
            um período de tempo relativamente curto, que geralmente varia entre 3 semanas e 4 meses. É uma experiência
            ideal para quem esteja começando uma carreira profissional e tenham o interesse de adquirir conhecimentos
            mais aprofundados na sua área de atuação de uma forma mais densa.</p>
          <p class="text-right mb-4">Fonte: <a href="https://www.universidadedointercambio.com/o-que-e-bootcamp/"
              target="_blank" class="alert-link">Universidade do intercâmbio</a></p>
        </div>
      </div>
      <div class="carousel-item" style="height: 500px;">
        <img src="/assets/img/fig06.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.7);">
          <h5 class="mt-4 mb-4">Hackathons</h5>
          <p class="mb-2">A origem da palavra hackathon vem da união de hack (especificamente no âmbito da programação,
            a expertise em desenvolver software) e marathon, do inglês maratona (isso mesmo aquela corrida de 42
            quilômetros). Apesar do nome ter a ver com software, um hackathon não se limita isso, pois também é um
            evento no qual a criatividade dos participantes é explorada com uma duração de um dia a uma semana.</p>
          <p class="text-right mb-4">Fonte: <a href="https://www.moblee.com.br/blog/hackathon/" target="_blank"
              class="alert-link">Moblee </a> </p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- carrosel -->
</div>
<!-- /conexoes -->

<!-- fundadores -->
<div id="secao06" class="pb-5">
  <div class="d-flex align-items-center container-fluid">
    <div class="container-fluid">
      <h1 class="text-center pt-5 pb-5">Fundadores</h1>
      <p class="text-center fs-18 mb-5" style="margin-right: 5%; margin-left: 5%;">
        Nossos equipe começou com cinco sonhadores como você...</p>
    </div>
  </div>
  <div class="container-fluid d-inline-flex justify-content-center">
    <div class="flip-box mr-2">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img id="noix" src="/assets/img/Caio.jpg" alt="Ercilia" style="width:300px;height:auto;">
        </div>
        <div class="flip-box-back">
          <h2 class="mt-2 text-center">Caio Tairone</h2>
          <p class="mt-2 mb-2 text-center font-weight-bolder"> Desenvolverdor Fullstack JAVA</p>
          <p class="text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores alias doloremque
            at voluptatum omnis labore temporibus, sequi blanditiis unde eligendi natus nisi officiis iusto
            necessitatibus.</p>
          <div class="pt-2">
            <ul class="social-icons text-right">
              <li><a class="instagram" href="#"><span class="fab fa-instagram" target="_blank"></span></a></li>
              <li><a class="github" href="#" target="_blank"><span class="fab fa-github-alt"></span></a>
              </li>
              <li><a class="linkedin" href="#" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-box mr-2">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img id="noix" src="/assets/img/Erci.jpg" alt="Paris" style="width:300px;height:auto">
        </div>
        <div class="flip-box-back">
          <h2 class="mt-2 text-center">Ercília Dantas</h2>
          <p class="mt-2 mb-2 text-center font-weight-bolder"> Desenvolverdora Fullstack JAVA</p>
          <p class="text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores alias doloremque
            at voluptatum omnis
            labore temporibus, sequi blanditiis unde eligendi natus nisi officiis iusto necessitatibus.</p>
          <div class="pt-2">
            <ul class="social-icons text-right">
              <li><a class="instagram" href="#"><span class="fab fa-instagram" target="_blank"></span></a></li>
              <li><a class="github" href="#" target="_blank"><span class="fab fa-github-alt"></span></a></li>
              <li><a class="linkedin" href="#" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img id="noix" src="/assets/img/Leo.jpg" alt="Paris" style="width:300px;height:auto">
        </div>
        <div class="flip-box-back">
          <h2 class="mt-2 text-center">Leonardo Silva</h2>
          <p class="mt-2 mb-2 text-center font-weight-bolder"> Desenvolverdor Fullstack JAVA</p>
          <p class="text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores alias doloremque
            at voluptatum omnis
            labore temporibus, sequi blanditiis unde eligendi natus nisi officiis iusto necessitatibus.</p>
          <div class="pt-2">
            <ul class="social-icons text-right">
              <li><a class="instagram" href="#"><span class="fab fa-instagram" target="_blank"></span></a></li>
              <li><a class="github" href="#" target="_blank"><span class="fab fa-github-alt"></span></a>
              </li>
              <li><a class="linkedin" href="#" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid d-inline-flex justify-content-center pb-5">
    <div class="flip-box mr-2">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img id="noix" src="/assets/img/Lucas.jpg" alt="Ercilia" style="width:300px;height:auto">
        </div>
        <div class="flip-box-back">
          <h2 class="mt-2 text-center">Lucas William</h2>
          <p class="mt-2 mb-2 text-center font-weight-bolder"> Desenvolverdor Fullstack JAVA</p>
          <p class="text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores alias doloremque
            at voluptatum omnis
            labore temporibus, sequi blanditiis unde eligendi natus nisi officiis iusto necessitatibus.</p>
          <div class="pt-2">
            <ul class="social-icons text-right">
              <li><a class="instagram" href="#"><span class="fab fa-instagram" target="_blank"></span></a></li>
              <li><a class="github" href="#" target="_blank"><span class="fab fa-github-alt"></span></a>
              </li>
              <li><a class="linkedin" href="#" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
            </ul>
          </div>
          <p></p>
        </div>
      </div>
    </div>
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img id="noix" src="/assets/img/Vitin.jpg" alt="Paris" style="width:300px;height:auto">
        </div>
        <div class="flip-box-back">
          <h2 class="mt-2 text-center">Vitor Miguel</h2>
          <p class="mt-2 mb-2 text-center font-weight-bolder"> Desenvolverdor Fullstack JAVA</p>
          <p class="text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores alias doloremque
            at voluptatum omnis
            labore temporibus, sequi blanditiis unde eligendi natus nisi officiis iusto necessitatibus.</p>
          <div class="pt-2">
            <ul class="social-icons text-right">
              <li><a class="instagram" href="#" target="_blank"><span class="fab fa-instagram"></span></a></li>
              <li><a class="github" href="#" target="_blank"><span class="fab fa-github-alt"></span></a>
              </li>
              <li><a class="linkedin" href="#" target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fundadores -->
