  <span class="anchor" id="inicio"></span>
  <div class="secao01">
    <!-- texto_chamada -->
    <div class="container m-0 ml-5 pb-5" style="padding-top: 23%;">
      <p class="w-50 fw-bold fs-65 m-0 mb-4 w3-animate-left"
        style="line-height: 100%;  text-shadow: 2px 2px 4px #000000;">
        Se conecte ainda mais<br>à Tecnologia</p>
      <p class="w-75 fw-bold fs-16 m-0 fade-in" style="text-shadow: 2px 2px 4px #000000;">Você quer aprender
        a programar, mas não sabe por onde começar?
        <br> O Conecta+ te ajuda! Busque por programas, bootcamps e hackathons.<br>Mais oportunidades ao alcance de
        todos! Venha construir novas conexões!</p>
      <div class="m-0 mt-4">
        <a class="btn btn-outline-secondary mr-3 p-2" role="button" routerLink='/conheca'>CONHEÇA AS INSTITUIÇÕES</a>
        <a class="btn btn-outline-secondary p-2" href="/apoie" role="button"><span
            class="fas fa-hand-holding-heart d-inline-flex align-self-center"></span> APOIE</a>
      </div>
    </div>
    <!-- /texto_chamada -->
  </div>


  <!-- quem_somos -->
  <span class="anchor" id="quemSomos"></span>
  <div class="secao02 d-flex align-items-center container-fluid pb-5 pt-5">
    <div class="container-fluid">
      <h1 class="text-center pt-5 pb-5">Quem somos</h1>
      <p class="text-center fs-18" style="margin-right: 5%; margin-left: 5%;">
        Nossos equipe foi fundada por pessoas como você que está do outro lado da tela. Iniciamos nosso apredizado e
        carreira na área de programação graças a organizações como essa! Com o desejo de
        levar a oportunidade que nos foi oferecida a mais pessoas e promover maior diversidade ao ambiente da tecnologia,
        a equipe do CONECTA+ criou esta plataforma como projeto integrador do nosso bootcamp na Generation Brasil. Sinta-se a
        vontade para navegar nesse espaço e conhecer organizações, eventos e noticias da área. Nosso intuito é te ajudar
        a fazer novas conexões!</p>
    </div>
  </div>
  <!-- /quem_somos -->

  <!-- img_pausa -->
  <div class="secao03">
    <div class="pt-5">
      <img src="/assets/img/fig02.jpg" alt="mulher codando" class="img-fluid w-100" style="height: auto;">
    </div>
  </div>
  <!-- /img_pausa -->

  <!-- faca_parte -->
  <span class="anchor" id="facaParte"></span>
  <div class="secao04 pt-5">
    <div class="d-flex align-items-center container-fluid">
      <div class="container-fluid">
        <h1 class="text-center pt-5 pb-5">Faça parte</h1>
        <p class="text-center fs-18 mb-5" style="margin-right: 5%; margin-left: 5%;">Nossa equipe começou pequena, mas
          esperamos expandi-lá e, assim, alcançar mais pessoas. Venha fazer parte! A manutenção do site é feito de modo
          independente e pro bono. Contamos também com uma equipe de prospecção de parcerias a fim de suportar os
          programas
          e bootcamps, principalmente cujos projetos possuem vieis sociais e que promovem maior diversidade no ambiente
          da
          tecnologia. Basta entrar em <a class="alert-link" href="/home#rodape">contato</a> para nos
          ajudar a ir mais longe!</p>
      </div>
    </div>
    <!-- cards -->
    <div class="container-fluid">
      <div class="classnew">
        <div class="card mr-3">
          <a href="#" target="_blank">
            <div class="face face1">
              <div class="content">
                <div class="icon">
                  <i class="fas fa-graduation-cap"></i>
                </div>
              </div>
            </div>
          </a>
          <div class="face face2">
            <div class="content">
              <h3>
                <a routerLink='/cadastrar' target="_blank" class="font-weight-bold">ESTUDE</a>
              </h3>
              <p class="card-text text-center font-weight-bolder" style="color: #1B3659;">Sou estudante de tecnologia ou
                gostaria de conhecer mais a área, quero estudar e conhecer os projetos disponíveis.</p>
            </div>
          </div>

        </div>
        <div class="card mr-3">
          <a href="#" target="_blank">
            <div class="face face1">
              <div class="content">
                <div class="icon">
                  <i class="fas fa-handshake"></i>
                </div>
              </div>
            </div>
          </a>
          <div class="face face2">
            <div class="content">
              <h3>
                <a routerLink='/cadastrar' target="_blank" class="font-weight-bold">PARTICIPE</a>
              </h3>
              <p class="card-text text-center font-weight-bolder" style="color: #1B3659;">Sou uma instituição de ensino
                e
                gostaria de impactar a vida de estudantes de tecnologia, seja com cursos, projetos, programas, entre
                outros...</p>
            </div>
          </div>
        </div>
        <div class="card">
          <a href="#" target="_blank">
            <div class="face face1">
              <div class="content">
                <div class="icon">
                  <i class="fas fa-hand-holding-heart" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </a>
          <div class="face face2">
            <div class="content">
              <h3>
                <a routerLink='/apoie' target="_blank" class="font-weight-bold">DOE</a>
              </h3>
              <p class="card-text text-center font-weight-bolder" style="color: #1B3659;">Acredito que a união de
                esforços
                e gente boa nos leva muito mais longe e quero contribuir ativamente com a transformação social do país.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /cards -->
  </div>
  <!-- /faca_parte -->

  <!-- conexoes -->
  <span class="anchor" id="conexoes"></span>
  <div class="secao05 pb-5 pt-5">
    <div class="d-flex align-items-center container-fluid">
      <div class="container-fluid">
        <h1 class="text-center pt-5 pb-5">Conexões</h1>
        <p class="text-center fs-18 mb-5" style="margin-right: 5%; margin-left: 5%;">
          Nossa plataforma promove sua conexão em três modalidades: Programas, Bootcamps e Hackathons. Você não sabe
          como
          elas funcionam? Vem que a gente te explica!</p>
      </div>
    </div>
    <!-- carrosel -->
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" style="height: 500px;">
        <div class="carousel-item active" style="height: 500px;">
          <img src="/assets/img/fig04.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.7);">
            <h5 class="mt-4 mb-4">Programa</h5>
            <p class="mb-2">Os programas tem um prazo mais longo, cerca de 6 a 24 meses, onde são ensinados
              os fundamentos da programação como lógica e estrutura de dados, fundamentando o apredizado das mais
              variadas
              linguagens. Habilidades comportamentais são um foco também. Eles são voltados ao mercado de trabalho e
              usualmente são pagos, alguns no modelo ISA (Income Share Agreement), onde você só paga uma porcentagem do
              seu salário, se conseguir emprego em um determinado período de tempo.</p>
            <p class="text-right mb-4">Fonte: <a href="https://www.betrybe.com/formacao-desenvolvimento-web"
                target="_blank" class="alert-link">Trybe</a></p>
          </div>
        </div>
        <div class="carousel-item" style="height: 500px;">
          <img src="/assets/img/fig05.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.7);">
            <h5 class="mt-4 mb-4">Bootcamp</h5>
            <p class="mb-2">Bootcamps são, de modo geral, “intensivões” que promovem uma imersão completa em um
              determinado tema em um período de tempo relativamente curto, que geralmente varia entre 3 semanas e 4
              meses.
              É uma experiência
              ideal para quem esteja começando uma carreira profissional e tenham o interesse de adquirir conhecimentos
              mais aprofundados na sua área de atuação de uma forma mais densa.</p>
            <p class="text-right mb-4">Fonte: <a href="https://www.universidadedointercambio.com/o-que-e-bootcamp/"
                target="_blank" class="alert-link">Universidade do intercâmbio</a></p>
          </div>
        </div>
        <div class="carousel-item" style="height: 500px;">
          <img src="/assets/img/fig06.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.7);">
            <h5 class="mt-4 mb-4">Hackathons</h5>
            <p class="mb-2">A origem da palavra hackathon vem da união de hack (especificamente no âmbito da
              programação,
              a expertise em desenvolver software) e marathon, do inglês maratona (isso mesmo aquela corrida de 42
              quilômetros). Apesar do nome ter a ver com software, um hackathon não se limita isso, pois também é um
              evento no qual a criatividade dos participantes é explorada com uma duração de um dia a uma semana.</p>
            <p class="text-right mb-4">Fonte: <a href="https://www.moblee.com.br/blog/hackathon/" target="_blank"
                class="alert-link">Moblee </a> </p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- carrosel -->
  </div>
  <!-- /conexoes -->


  <!-- fundadores -->
  <div class="secao06 pb-5">
    <div class="d-flex align-items-center container-fluid">
      <div class="container-fluid">
        <h1 class="text-center pt-5 pb-5">Fundadores</h1>
        <p class="text-center fs-18 mb-5" style="margin-right: 5%; margin-left: 5%;">
          Nossos equipe começou com cinco sonhadores como você...</p>
      </div>
    </div>
    <div class="container-fluid d-inline-flex justify-content-center">
      <div class="flip-box mr-2">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img id="noix" src="/assets/img/Caio.jpg" alt="Caio" style="width:300px;height:auto;">
          </div>
          <div class="flip-box-back">
            <h2 class="mt-2 text-center">Caio Tairone</h2>
            <p class="mt-2 mb-2 text-center font-weight-bolder"> Desenvolverdor Fullstack JAVA</p>
            <p class="text-left">Sempre tive a visão da tecnologia como algo realmente presente na
              vida das pessoas, nesses últimos anos pude perceber como essa ideia
              já esta presente, ainda não para todos. Com o Conecta + vamos fazer essa ponte 
              entre aluno e instituição.</p>
            <div class="pt-2">
              <ul class="social-icons text-right">
                <li><a class="instagram" href="https://www.instagram.com/caiotsv/" target="_blank"><span class="fab fa-instagram" ></span></a></li>
                <li><a class="github" href="https://github.com/tairone32" target="_blank"><span
                      class="fab fa-github-alt"></span></a>
                </li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/caio-tairone-98a9841ba/" target="_blank"><span
                      class="fab fa-linkedin-in"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-box mr-2">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img id="noix" src="/assets/img/Erci.jpg" alt="Ercilia" style="width:300px;height:auto">
          </div>
          <div class="flip-box-back">
            <h2 class="mt-2 text-center">Ercília Dantas</h2>
            <p class="mt-2 mb-2 text-center font-weight-bolder"> Desenvolverdora Fullstack JAVA</p>
            <p class="text-left">A tecnologia causa mudanças transformadoras em quem a conhece e ser
               o condutor dessa mudança é o que me emociona e inspira. Nunca é tarde pra se reinventar,
                nossa metamorfose é continua. O destino final é esculpir uma versão melhor que a anterior!</p>
            <div class="pt-2">
              <ul class="social-icons text-right">
                <li><a class="instagram" href="https://www.instagram.com/ercilia_regina/" target="_blank"><span class="fab fa-instagram" ></span></a></li>
                <li><a class="github" href="https://github.com/ErciliaR" target="_blank"><span
                      class="fab fa-github-alt"></span></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/erc%C3%ADlia-regina-silva-dantas-97008ab3/"
                    target="_blank"><span class="fab fa-linkedin-in"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img id="noix" src="/assets/img/Leo.jpg" alt="Leo" style="width:300px;height:auto">
          </div>
          <div class="flip-box-back">
            <h2 class="mt-2 text-center">Leonardo Silva</h2>
            <p class="mt-2 mb-2 text-center font-weight-bolder"> Desenvolverdor Fullstack JAVA</p>
            <p class="text-left">Sempre tentei entender como as coisas funcionam. Mas nunca parei
               para entender o desenvolvimento de softwares. Até receber a oportunidade de realizar
               um curso de Java, na Generation, e descobri uma profunda paixão por solucionar problemas.</p>
            <div class="pt-2">
              <ul class="social-icons text-right">
                <li><a class="instagram" href="https://www.instagram.com/leeomatheus/" target="_blank"><span class="fab fa-instagram" ></span></a></li>
                <li><a class="github" href="https://github.com/LeonardoMFSilva" target="_blank"><span
                      class="fab fa-github-alt"></span></a>
                </li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/leeosilva/" target="_blank"><span
                      class="fab fa-linkedin-in"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid d-inline-flex justify-content-center pb-5">
      <div class="flip-box mr-2">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img id="noix" src="/assets/img/Lucas.jpg" alt="Lucas" style="width:300px;height:auto">
          </div>
          <div class="flip-box-back">
            <h2 class="mt-2 text-center">Lucas Chagas</h2>
            <p class="mt-2 mb-2 text-center font-weight-bolder"> Desenvolverdor Fullstack JAVA</p>
            <p class="text-left">Durante minha formação em engenharia, descobri o mundo da programação.
                  Me encantei de primeira, foi minha matéria preferida! Depois disso consegui uma chance única:
                  Se tornar desenvolvedor em 3 meses. Agora trilho neste caminho incrível.</p>
                  
            <div class="pt-2">
              <ul class="social-icons text-right">
                <li><a class="github" href="https://github.com/LucasWilliam2100" target="_blank"><span
                      class="fab fa-github-alt"></span></a>
                </li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/lucas-w-c-chagas/" target="_blank"><span
                      class="fab fa-linkedin-in"></span></a></li>
              </ul>
            </div>
            <p></p>
          </div>
        </div>
      </div>
      <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <img id="noix" src="/assets/img/Vitin.jpg" alt="Vitor" style="width:300px;height:auto">
          </div>
          <div class="flip-box-back">
            <h2 class="mt-2 text-center">Vitor Cutri</h2>
            <p class="mt-2 mb-2 text-center font-weight-bolder"> Desenvolverdor Fullstack JAVA</p>
            <p class="text-left">Apaixonado por tecnologia, busco impactar e transformar o mundo ao meu redor.
               Além de sempre querer saber o porquê das coisas, adoro lidar com desafios e solucionar problemas.
                Busco todos os dias ser uma versão melhor de mim mesmo.
            </p>
            <div class="pt-2">
              <ul class="social-icons text-right">
                <li><a class="instagram" href="https://www.instagram.com/miguelcutri/" target="_blank"><span class="fab fa-instagram"></span></a></li>
                <li><a class="github" href="https://github.com/Miguelcutri" target="_blank"><span
                      class="fab fa-github-alt"></span></a>
                </li>
                <li><a class="linkedin" href="https://www.linkedin.com/in/vitor-miguel-cutri/" target="_blank"><span
                      class="fab fa-linkedin-in"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fundadores -->
